<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/extended?autoReconnect=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="entities/Sponsorship.hbm.xml"/>
    <mapping resource="entities/Patient.hbm.xml"/>
    <mapping resource="entities/Sponsorhipdetails.hbm.xml"/>
    <mapping resource="entities/Folder.hbm.xml"/>
    <mapping resource="entities/Visitationtable.hbm.xml"/>
    <mapping resource="entities/Units.hbm.xml"/>
    <mapping resource="entities/Consultingrooms.hbm.xml"/>
    <mapping resource="entities/Investigation.hbm.xml"/>
    <mapping resource="entities/Treatments.hbm.xml"/>
    <mapping resource="entities/Diagnosis.hbm.xml"/>
    <mapping resource="entities/Patientdiagnosis.hbm.xml"/>
    <mapping resource="entities/Patientinvestigation.hbm.xml"/>
    <mapping resource="entities/Patienttreatment.hbm.xml"/>
    <mapping resource="entities/Nhistreatment.hbm.xml"/>
    <mapping resource="entities/Nhisinvestigation.hbm.xml"/>
    <mapping resource="entities/Receive.hbm.xml"/>
    <mapping resource="entities/Appoint.hbm.xml"/>
    <mapping resource="entities/Itemtype.hbm.xml"/>
    <mapping resource="entities/Drugtype.hbm.xml"/>
    <mapping resource="entities/Post.hbm.xml"/>
    <mapping resource="entities/Symptoms.hbm.xml"/>
    <mapping resource="entities/Ward.hbm.xml"/>
    <mapping resource="entities/Dosagemonitor.hbm.xml"/>
    <mapping resource="entities/Newborn.hbm.xml"/>
    <mapping resource="entities/Admissionnotes.hbm.xml"/>
    <mapping resource="entities/Wardnote.hbm.xml"/>
    <mapping resource="entities/Transferlocation.hbm.xml"/>
    <mapping resource="entities/Roletable.hbm.xml"/>
    <mapping resource="entities/Qualification.hbm.xml"/>
    <mapping resource="entities/Stafftable.hbm.xml"/>
    <mapping resource="entities/Consultation.hbm.xml"/>
    <mapping resource="entities/Laborders.hbm.xml"/>
    <mapping resource="entities/Clerkingquestion.hbm.xml"/>
    <mapping resource="entities/Patientclerking.hbm.xml"/>
    <mapping resource="entities/Dosage.hbm.xml"/>
    <mapping resource="entities/Patientconsultation.hbm.xml"/>
    <mapping resource="entities/StaffPermission.hbm.xml"/>
    <mapping resource="entities/Permission.hbm.xml"/>
    <mapping resource="entities/Department.hbm.xml"/>
    <mapping resource="entities/Users.hbm.xml"/>
    <mapping resource="entities/Loggingtable.hbm.xml"/>
    <mapping resource="entities/DetailedinvPosinvresults.hbm.xml"/>
    <mapping resource="entities/LabtypeDetailedinv.hbm.xml"/>
    <mapping resource="entities/Labtypes.hbm.xml"/>
    <mapping resource="entities/MaininvSubinv.hbm.xml"/>
    <mapping resource="entities/PossibleinvResults.hbm.xml"/>
    <mapping resource="entities/NursingtableVitals.hbm.xml"/>
    <mapping resource="entities/PatientRegistration.hbm.xml"/>
    <mapping resource="entities/RefRangeUni.hbm.xml"/>
    <mapping resource="entities/DetailedinvRefrangeType.hbm.xml"/>
    <mapping resource="entities/RefRangeDet.hbm.xml"/>
    <mapping resource="entities/CoreGhanaGroupings.hbm.xml"/>
    <mapping resource="entities/DetailsDiagnosis.hbm.xml"/>
    <mapping resource="entities/DiagnosticGroupings.hbm.xml"/>
    <mapping resource="entities/TherapeuticGroup.hbm.xml"/>
    <mapping resource="entities/Bed.hbm.xml"/>
    <mapping resource="entities/Room.hbm.xml"/>
    <mapping resource="entities/Claimtable.hbm.xml"/>
    <mapping resource="entities/LabPatient.hbm.xml"/>
    <mapping resource="entities/CompanyProfile.hbm.xml"/>
    <mapping resource="entities/BackupSyncTable.hbm.xml"/>
    <mapping resource="entities/Pharmorder.hbm.xml"/>
    <mapping resource="entities/LabStockPackaging.hbm.xml"/>
    <mapping resource="entities/LabStockDistributor.hbm.xml"/>
    <mapping resource="entities/LabStockItem.hbm.xml"/>
    <mapping resource="entities/LabStock.hbm.xml"/>
    <mapping resource="entities/LabStockItemDistributor.hbm.xml"/>
    <mapping resource="entities/LabStockItemBatchInfo.hbm.xml"/>
    <mapping resource="entities/Vitaltable.hbm.xml"/>
    <mapping resource="entities/Allergies.hbm.xml"/>
    <mapping resource="entities/DiagnosisSymptoms.hbm.xml"/>
    <mapping resource="entities/VisitSymptoms.hbm.xml"/>
    <mapping resource="entities/PatientAllergies.hbm.xml"/>
    <mapping resource="entities/Manufacturer.hbm.xml"/>
    <mapping resource="entities/Supplier.hbm.xml"/>
    <mapping resource="entities/PatientProcedure.hbm.xml"/>
    <mapping resource="entities/Procedure.hbm.xml"/>
    <mapping resource="entities/Procedureorders.hbm.xml"/>
    <mapping resource="entities/Vitalcheck.hbm.xml"/>
    <mapping resource="entities/PatientBed.hbm.xml"/>
    <mapping resource="entities/Appointment.hbm.xml"/>
    <mapping resource="entities/AppointmentType.hbm.xml"/>
    <mapping resource="entities/RegFee.hbm.xml"/>
    <mapping resource="entities/LabAntibiotic.hbm.xml"/>
    <mapping resource="entities/InvestigationAntibiotic.hbm.xml"/>
    <mapping resource="entities/TransitClinicLabs.hbm.xml"/>
    <mapping resource="entities/PatientDiscount.hbm.xml"/>
    <mapping resource="entities/LabDiscount.hbm.xml"/>
    <mapping resource="entities/PharmacyDiscount.hbm.xml"/>
    <mapping resource="entities/Profile.hbm.xml"/>
    <mapping resource="entities/ProfileDetails.hbm.xml"/>
    <mapping resource="entities/InvestigationResistantSusc.hbm.xml"/>
    <mapping resource="entities/Specimen.hbm.xml"/>
    <mapping resource="entities/PostedItems.hbm.xml"/>
    <mapping resource="entities/ArchivedRefRangeDet.hbm.xml"/>
    <mapping resource="entities/ArchivedRefRangeUni.hbm.xml"/>
    <mapping resource="entities/PatientBills.hbm.xml"/>
    <mapping resource="entities/InPatientBills.hbm.xml"/>
    <mapping resource="entities/Facility.hbm.xml"/>
    <mapping resource="entities/ReferringDoctors.hbm.xml"/>
    <mapping resource="entities/PaymentObject.hbm.xml"/>
    <mapping resource="entities/FolderNumbering.hbm.xml"/>
    <mapping resource="entities/GeneralSettings.hbm.xml"/>
    <mapping resource="entities/SponsorLabitemPrice.hbm.xml"/>
    <mapping resource="entities/ClerkingCategories.hbm.xml"/>
    <mapping resource="entities/PatientSystemicReviews.hbm.xml"/>
    <mapping resource="entities/PatientSocialHistory.hbm.xml"/>
    <mapping resource="entities/PatientMedicalHistory.hbm.xml"/>
    <mapping resource="entities/PatientFamilyHistory.hbm.xml"/>
    <mapping resource="entities/SocialHistories.hbm.xml"/>
    <mapping resource="entities/MedicalHistories.hbm.xml"/>
    <mapping resource="entities/ReliefOptions.hbm.xml"/>
    <mapping resource="entities/OnsetOptions.hbm.xml"/>
   
    <mapping resource="entities/PatientDrugHistory.hbm.xml"/>
    <mapping resource="entities/AggrevationOptions.hbm.xml"/>
    <mapping resource="entities/CharacteristicOptions.hbm.xml"/>
    <mapping resource="entities/BodyPartOptions.hbm.xml"/>
    <mapping resource="entities/DurationOptions.hbm.xml"/>
    <mapping resource="entities/TreatmentOptions.hbm.xml"/>
    <mapping resource="entities/ProblemOptions.hbm.xml"/>
    <mapping resource="entities/PatientConditions.hbm.xml"/>
    <mapping resource="entities/PatientConditionNotes.hbm.xml"/>
    <mapping resource="entities/PatientBodyParts.hbm.xml"/>
    <mapping resource="entities/PatientBodyPartNotes.hbm.xml"/>
    <mapping resource="entities/PatientOnsets.hbm.xml"/>
    <mapping resource="entities/PatientOnsetNotes.hbm.xml"/>
    <mapping resource="entities/PatientCharacteristics.hbm.xml"/>
    <mapping resource="entities/PatientCharacteristicNotes.hbm.xml"/>
    <mapping resource="entities/PatientDurations.hbm.xml"/>
    <mapping resource="entities/PatientDurationNotes.hbm.xml"/>
    <mapping resource="entities/PatientAggravations.hbm.xml"/>
    <mapping resource="entities/PatientAggravationNotes.hbm.xml"/>
    <mapping resource="entities/PatientReliefs.hbm.xml"/>
    <mapping resource="entities/PatientReliefNotes.hbm.xml"/>
    <mapping resource="entities/PatientTreatmentNotes.hbm.xml"/>
    <mapping resource="entities/PatientTreats.hbm.xml"/>
    <mapping resource="entities/InventoryItems.hbm.xml"/>
    <mapping resource="entities/DispensaryItems.hbm.xml"/>
    <mapping resource="entities/InventoryTransfers.hbm.xml"/>
    <mapping resource="entities/InventoryLog.hbm.xml"/>
    <mapping resource="entities/ClinicInventoryRequests.hbm.xml"/>
    <mapping resource="entities/StockItems.hbm.xml"/>
    <mapping resource="entities/Orderitems.hbm.xml"/>
    <mapping resource="entities/StockOrders.hbm.xml"/>
    <mapping resource="entities/CardPrinting.hbm.xml"/>
    <mapping resource="entities/Procedureorderswalkin.hbm.xml"/>
    <mapping resource="entities/PatientProcedureWalkins.hbm.xml"/>
    <mapping resource="entities/NursesPatientReliefNotes.hbm.xml"/>
    <mapping resource="entities/NursesPatientConditions.hbm.xml"/>
    <mapping resource="entities/NursesPatientConditionNotes.hbm.xml"/>
    <mapping resource="entities/NursesPatientOnsets.hbm.xml"/>
    <mapping resource="entities/NursesPatientReliefs.hbm.xml"/>
    <mapping resource="entities/NursesPatientOnsetNotes.hbm.xml"/>
    <mapping resource="entities/PatientImmunizations.hbm.xml"/>
    <mapping resource="entities/PatientMajorExaminations.hbm.xml"/>
    <mapping resource="entities/PatientSurgeries.hbm.xml"/>
    <mapping resource="entities/PharmacyBatch.hbm.xml"/>
    <mapping resource="entities/DetailedTransfer.hbm.xml"/>
    <mapping resource="entities/Pharmacyorder.hbm.xml"/>
    <mapping resource="entities/PurchaseOrder.hbm.xml"/>
    <mapping resource="entities/ItemForm.hbm.xml"/>
    <mapping resource="entities/PharmacyItem.hbm.xml"/>
    <mapping resource="entities/PurchaseOrderItems.hbm.xml"/>
    <mapping resource="entities/LaboratoryBatch.hbm.xml"/>
    <mapping resource="entities/GeneralStockMovement.hbm.xml"/>
    <mapping resource="entities/ItemBatch.hbm.xml"/>
    <mapping resource="entities/UnitsOfMeasure.hbm.xml"/>
    <mapping resource="entities/TransitionOrder.hbm.xml"/>
    <mapping resource="entities/DispensaryBatch.hbm.xml"/>
    <mapping resource="entities/Invoice.hbm.xml"/>
    <mapping resource="entities/Requisition.hbm.xml"/>
    <mapping resource="entities/ClientInfo.hbm.xml"/>
    <mapping resource="entities/PatientTreatmentBatch.hbm.xml"/>
    <mapping resource="entities/LaboratoryItem.hbm.xml"/>
   <mapping resource="entities/CardFee.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
